[Unit]
Description=Bellbox instance
Wants=network-online.target
After=network-online.target

[Service]
StandardOutput=syslog+console
EnvironmentFile=/opt/bellbox/ENV
WorkingDirectory=/opt/bellbox/
ExecStart=/opt/bellbox/bin/bellbox
Type=simple
User=shroud
Group=shroud
Restart=always
RestartSec=5
UMask=0027

[Install]
WantedBy=multi-user.target
